<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Login here!</title>

</head>

<body>
  <div id="login-form" class="row">

    <form action="/login" method="POST" id="login-form">
      <div class="form-group">
        <label>
          Username:
          <input type="text" name="username">
        </label>
        <label>
          Password:
          <input type="password" name="password">
        </label>
      </div>

      <button type="submit" id="submit-button">Login</button>
    </form>

  </div>

</body>
</html>