<html ng-app="login">
<head>
    <title>Login here!</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
	<script src="login.js"></script>
</head>
 
<body ng-controller="loginController">
	<div id="login-form" class="row">
			
			<form>
				<div class="form-group">
					username</br>
					<input type="text" name="username" ng-model="formData.username">
					</br>password</br>
					<input type="password" name="password" ng-model="formData.password"> 
				</div>

				<button type="submit" class="btn btn-primary btn-lg" ng-click="login()">Login</button>
			</form>
			
		</div>
 
 
</body>
</html>